html {
    box-sizing: border-box;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

li{
    list-style-type: none;
}

.body {
    margin: 0;
}

.clearfix::after{
    display: table;
    content: '';
    clear: both;
}

.container {
    margin: 0 auto;
    padding: 0;
    width: 1114px;  
}

.head {
    margin: 0 auto;
    width: 1114px;
    margin-bottom: 111px;
}

.logo {
    display: inline-block;
    vertical-align: middle;
}

.logo span{
    color: #555252;
    font-size: 30px;
    font-weight: 300;
    line-height: 32px;
    text-transform: uppercase;
    font-family: "Roboto Light";
    font-weight: 300;
    letter-spacing: -0.6px;
}

.logo span:first-child {
    color: #1abc9c;
    font-family: "Roboto - Black";
    font-weight: 400;
    letter-spacing: -0.6px;
}

.page-nav {
    padding:5px 0;
    float:right;
}

.site-navigation{
    margin: 0;
    padding: 3px 0;
    width: 453px;
}

.site-navigation li{
    float: left;
}

.site-navigation li:not(:first-child){
    margin-left: 35px;
}

.site-navigation a{
    margin: 0;
    padding: 0;
    color: #0f0101;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 700;
    line-height: 11px;
    text-transform: uppercase;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #1abc9c;
}

.title {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    margin-bottom: 131px;
}

.title-name{
    color: #515151;
    font-family: "Roboto - Black";
    font-size: 36px;
    font-weight: 800;
    line-height: 48px;
    text-transform: uppercase;
    /*border-bottom: 7px solid #1abc9c;*/
    letter-spacing: -0.96px;
}

.title-name::after {
    padding-top: 32px;
    margin: auto;
    width: 160px;
    display: block;
    content: '';
    border-bottom: 7px solid #1abc9c;
}

.products-block {
    margin: 0 auto;
    padding: 0;
    width: 1116px;
    margin-bottom: 105px;
}

.products-block-item {
    position: relative;
    float: left;
    margin-left: 30px;
    width: 255px;
    height: 322px;
    background-color: #e9f0fd;
    cursor: pointer;
}

.products-block-item:nth-child(4n+1){
    margin: 0px;
}

.products-block-item:nth-child(-n+4){
    margin-bottom: 30px;
}

.item {
    position: absolute;
    bottom: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    color: #fff;
    text-transform: uppercase;
    transition: .4s;
}

.item-name {
    left: 0;
    padding-left: 14px;
    text-align: center;
    width: calc(255px - 70px);
    background-color: #323232;
}

.item-price {
    right: 0;
    display: block;
    text-align: center;
    background-color: #8c8c8c;
    width: 70px;
}

.news{
    margin: 0;
    padding: 0;
}

.news-title {
    margin: 0 auto;
    text-align: center;
    width: 310px;
}

.news-title-name{
    color: #555252;
    font-family: "Roboto - Black";
    font-size: 48px;
    font-weight: 400;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: -0.96px;
}

.news-title ::after {
    margin-top: 16px;
    margin-left: 73px;
    display: block;
    width: 164px;
    height: 7px;
    content: '';
    border-bottom: 7px solid #1abc9c;
}

.article {
    margin: 0 auto;
    padding: 0;
    width: 1116px;
    list-style: none;
}

.article-item {
    float: left;
    width: 350px;
    cursor: pointer;
}

.article-item:not(:first-child){
    margin-left: 30px;
}

.article-item h5 {
    margin: 0;
    margin-bottom: 20px;
    text-align: left;
    width: 301px;
    color: #515151;
    font-size: 18px;
    line-height: 26px;
    text-transform: capitalize;
    font-weight: 900;
}

.article-item h5::after {
    padding-top: 16px;
    display: block;
    width: 136px;
    content: '';
    border-bottom: 3px solid #1abc9c;
}

.article-item p {
    margin-bottom: 40px;
    width: 335px;
    height: 66px;
    color: #555252;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* Text style for "N, am nec" */
    letter-spacing: -0.28px;
}

.read-more {
    display: block;
    width: 160px;
    height: 51px;
    background-color: #4ec6ab; 
    border-radius: 4px;
}

.read-more h2 {
    padding-top: 14px;
    margin-left: 40px;
    width: 74px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: -0.32px;
}

.read-more:hover,
.read-more:focus {
    color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}