html{
    box-sizing: border-box;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
}

.container{
    width: 906px;
    margin: 0 auto;
    margin-top: 104px;
}

/*site navigation*/

.site-navigation{
    margin: 0;
    padding: 0;
    margin-top: 77px;
    text-align: center;
}

.site-navigation li:not(:last-child){
    margin-right:120px;
}

.site-navigation li{
    display: inline-block;
}

.site-navigation a{
    width: 88px;
    height: 11px;
    color: #626262;
    font-family: "Playfair Display";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}

.site-navigation a:hover,
.site-navigation a:focus{
    color: #03a9f4;
}

.articles{
    margin: 0;
    padding: 0;  
    font-size: 0;  
}

.article{
    margin: 0;
    padding: 0;
    margin-top: 132px;
    display: inline-block;
    width: 423px;
    height: 479px;
}

.article:nth-child(2n){
    margin-left: 60px;
}

.article:nth-child(-n +2){
    margin-top: 0px;
}

.article_hash{
    margin: 0;
    padding: 0;
    margin-top: 32px;
    width: 85px;
    height: 11px;
    color: #b4ad9e;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
}

.article_title{
    margin: 0;
    padding: 0;
    margin-top: 28px;
    margin-bottom: 34px;
    color: #626262;
    font-family: "Playfair Display";
    font-size: 30px;
    font-weight: 300;
}

.article_description{
    color: #626262;
    font-family: "Playfair Display";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}


.load_more {
    position: relative;
    padding: 0;
    margin: 0 auto;
    margin-top: 54px;
    display: block;
    width: 164px;
    height: 60px;
    line-height: 50px;
    background-color: white;
    border: 1px solid #626262;
}

.button-text {
    padding: 22px 34px;
    width: 96px;
    height: 17px;
    color: #626262;
    font-family: "Playfair Display";
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}