body, ul{
    margin: 0;
    padding: 0;
}

.masthead{
    max-width: 960px;
    margin: auto;
    height: 40px;
    line-height: 100px;
    border-bottom: 3px solid #212121;
}

.site-navigation {
    margin: auto;
    font-family: Roboto, sans-serif;
}
    
.site-navigation a {
    display: block;
    padding: 0 50px;
    font-size: 16px;
    color: #626262;
    font-family: "Playfair Display";
    text-decoration: none;
    text-transform: uppercase;
    float: left;
}
  
  /* Сработает при hover */
.site-navigation a:hover {
    color: #03a9f4;
}

.clearfix{
    display: table;
    content:"";
    clear:both;
}

.articles {
    width:100%;
    height: auto;
    margin-left: 210px;
}

.first_column{
    display:inline-block;
}
.second_column{
    display:inline-block;
    margin-left:60px;
}

.article { 
    padding-top: 100px;
    width: auto;
    height: 800px;
}

.article_img{
    width: 420;
    height:280;
    margin: 20px auto;
}

.article_hash{
    width: 63px;
    height: 11px;
    color: #b4ad9e;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
}

.article_title{

    color: #626262;
    font-family: "Playfair Display";
    font-size: 20px;
    font-weight: 400;
}

.article_description{
    width: 414px;
    height: 63px;
    color: #626262;
    font-family: "Playfair Display";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.load_more{
    display: block;
    height: 50px;
    width: 200px;
    line-height: 50px;
    position: relative;
    border: 1px solid white;
    padding: 0 1rem;
    margin-left: auto;
    margin-right: auto;
}

.button-text{
    width: 96px;
    height: 17px;
    color: #626262;
    font-family: "Playfair Display";
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}