.logo{
    display: inline-block;
    margin-left:80px;
    margin-top: 15px;
}

.logo span{
    width: 86px;
    height: 23px;
    color: #95e1d3;
    font-family: "Montserrat";
    font-size: 30px;
    font-weight: 700;
}

.menu{
    display: inline-block;
    float: right;
    margin-right: 160px;
    margin-top: 20px;
}

.menu a{
    text-decoration: none;
    width: 60px;
    height: 10px;
    color: #95e1d3;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.menu a:not(:last-child){
    margin-right: 20px;
}

.menu a:hover,
.menu a:focus{
    color: #f38181;
    border-bottom: 3px solid #f38181;
}

.Title{
    
}

.first-h{
    width: auto;
    height: 24px;
    color: #333333;
    font-family: "Kaushan Script";
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.second-h{
    width: auto;
    height: auto;
    color: #333333;
    font-family: "Montserrat";
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.line {
    margin-top: 16px;
    margin-left: 630px;
    width: 100px;
    height: 7px;
    display: block;
    content: '';
    border-bottom: 3px solid #f38181;
}

.Services{
    list-style: none;

}

.service{
    display:inline-block;
    width: 400px;
    height: 70px; 
    margin-top: 20px;

}

.image{
    position: absolute;
    display: block;
    top:0;

}
.descr{
    display: inline-block;
    width: 300px;
    margin-left: 20px;
}

.service span{
    width: 200px;
    height: 39px;
    color: #999999;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

.service h2{
    width: 94px;
    height: 10px;
    color: #333333;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.team-title{
    position: absolute;
    margin-left: 40%;
    margin-top: 60px;
    width:auto;
    height: auto;
}

.first-t{
    width: auto;
    height: auto;
    color: #333333;
    font-family: "Kaushan Script";
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.second-t{
    width: auto;
    height: auto;
    color: #333333;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.second-t::after{
    position: relative;
    margin-left:40%;
    margin-top: 10px;
    width: 60px;
    height: 7px;
    display: block;
    content: '';
    border-bottom: 3px solid #f38181;
}

.description{
    position: absolute;
    margin-top:15%;
    margin-left:15%;
}

.descr-text{
    display: inline-block;
    width: 900px;
    height: 39px;
    color: #999999;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align:center;
}

.team-info{
    position: absolute;
    margin-top: 25%;
}

.member{
    position: relative;
    display:inline-block;
    width:380px;
    height:470px;
}

.member:not(:last-child){
    margin-right: 40px;
}

.info{
    width:380px;
    display:inline-block;
    text-align: center;
    padding-top: 10px;
}

.name{
    height: 10px;
    color: #333333;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.position{
    height: 16px;
    color: #999999;
    font-family: "Roboto - Light Italic";
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

.modal-backdrop{
    position: absolute;
    top:-10px;
    left:-10px;
    width:360px;
    height:450px;
    padding: 10px 10px 10px 10px;
    background:none;
    display: none;
    /*margin-top:30%;*/

}

.modal{
    position:absolute;
    left:0;
    transform: translate(-50%, -50%);
    background:rgba(255,255,255, 0.7);
    width:auto;
    height:300px;
    padding-top: 80px;
}

.icons{
    position: relative;
    width:226px;
    height:auto;
    margin:50% 20% 30%;
}

.icons button{
    position: relative;
    display:inline-block;
    float:left;
    width:56px;
    height:56px;
    background-color: #fce38a;
}

.icon:hover,
.icon:focus{
    background-color: #95e1d3;
    border: 1px solid #1abc9c;
}

.member:hover .modal-backdrop{
    display: block;
    background-image: linear-gradient(90deg, rgb(252,227,138, 0.9) 0%, rgb(243,129,129, 0.9) 100%);
    box-shadow: 10px 10px #95e1d3;
}

.footer{
    position: absolute; ;
    background-color: #fff;
    width: 100%;
    left:0;
    margin-top: 90%;
    margin-bottom: 30px;
    height:32px;
}

.footer::before{
    border-top: 3px solid #f38181;
}

.descr-license{
    float:left;
    width: 340px;
    height: 12px;
    color: #333333;;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
}

.descr-license a{
    text-decoration: none;
    color: #f38181;
    display: inline;
}

.email{
    float:right;
}

.email input{
    width: 230px;
    height: 40px;
    border: 1px solid #e7e7e7;
    background-color: #ffffff;
}

.email button{
    float:right;
    width: 150px;
    height: 44px;
    background-color: #95e1d3;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}